.repeating-text-container {
  width: 100%;
  overflow: hidden;
  background-color: hsl(0, 59%, 41%);
  white-space: nowrap;
}

.repeating-text {
  display: flex;
  gap: 15px;
  align-items: center;
  white-space: nowrap;
  min-width: 200%;
  animation: scrollText 10s linear infinite;
}

.repeating-text span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.repeating-text img {
  width: 30px;
  height: auto;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon {
  font-size: 20px;
  color: white;
}

/* Background Colors */
.facebook {
  background-color: #1877f2;
} /* Facebook Blue */
.instagram {
  background-color: #e4405f;
} /* Instagram Pink */
.youtube {
  background-color: #ff0000;
} /* YouTube Red */

/* Hover Effect */
.icon-container:hover {
  transform: scale(1.2);
}
